<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> hello this is django social authentication </h1>

    {% if request.user.is_authenticated %}

    <a href="{% url 'account_logout' %}">Logout</a>

    {% else %}

    <a href="{% url 'account_login' %}">login</a>
    <br>
    <a href="{% url 'account_signup' %}">signup</a>

    {% endif %}



</body>
</html>